.tag {
  display: inline-block;
  background-color: #e1e1e1; /* Zennのタグ背景色 */
  color: #000000; /* 文字色 */
  font-size: 0.875rem; /* 14px */
  font-weight: 500;
  padding: 4px 12px;
  margin: 5px;
  border-radius: 16px; /* 丸み */
  border: 1px solid #7b7b7b;
  transition: background-color 0.2s, color 0.2s;
}

.tag:hover {
  background-color: #3f3f3f;
  color: white;
}
