.card {
  background-color: #ffffff;
  /* background-color: #1e1e1e; */
  padding: 15px;
  margin: 20px 0;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
  border: solid 2px #ebebeb;
}

.card:hover {
  background-color: #f9f9f9; /* うっすらグレー */
}

.title {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.date {
  font-size: 14px;
  color: #888888;
  margin-left: 15px;
}

.bodyText {
  margin: 5px 0 0;
  display: -webkit-box; /* 必須 */
  -webkit-box-orient: vertical; /* 必須 */
  -webkit-line-clamp: 3; /* 行数を制限 */
  overflow: hidden;
}

.bodyText * {
  font-size: 15px;
  color: #000000;
}

.bodyText img,
.bodyText div[style],
.bodyText table {
  display: none;
}

.tag {
  font-size: 13px;

  color: #000000;
  margin: 3px;
}
