.loginPageMainRoot {
  display: flex;
  justify-content: center; /* 横方向中央 */
  align-items: center; /* 縦方向中央 */
  height: 100vh;

  .button {
    background-color: #5f78a1; /* Googleブルー */
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s;
  }

  .button:hover {
    background-color: #3367d6; /* ホバー時に少し濃く */
  }
}
