.headerRoot {
  background-color: white;
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.1);
  padding: 0.8em;

  .title {
    font-size: 1.5em;
    font-weight: bold;
    color: black;
    display: inline;
    text-align: left;
    margin-left: clamp(0.5em, 3vw, 2em);
    color: #5b5e7d;
  }
  .group {
    float: right;
    margin: 0.5em 1em 0 0;

    .button {
      font-size: 1em;
      font-weight: bold;
      color: rgb(97, 97, 97);
      display: inline;
      text-align: left;
      margin-left: 1em;
      position: relative;
      text-decoration: none;
      transition: 0.3s;
    }
  }
}

.button::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -0.2em;
  width: 0;
  height: 0.1em;
  background: #d3d5db;
  transition: 0.1s;
}
.button:hover::before {
  left: 0;
  width: 100%;
}
