.root {
  --font-size-x-large: 24px;
  --font-size-large: 20px;
  --font-size-base: 16px;
  --font-size-small: 14px;
  --font-size-x-small: 12px;
  --font-weight-normal: normal;
  --font-weight-bold: bold;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2em;
}
.articleContentHeader {
  margin-bottom: 1em;
}
.publishedDate {
  padding: 0%;
}

.toc {
  display: none;
}

@media (min-width: 1000px) {
  .toc {
    display: block;
  }
}

.articleContainer {
  display: flex;
}

.updateIcon {
  display: inline-block;
  vertical-align: middle;
  color: #888;
  line-height: 1;
  position: relative;
  width: 1em;
  height: 1em;
  transform: rotate(45deg);
  margin-right: 0.25em;
  margin-bottom: 0.25em;
}

.updateIcon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border: 0.1em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  transform: rotate(-45deg);
}

.updateIcon::after {
  content: "";
  position: absolute;
  top: 0.05em;
  right: 50%;
  width: 0.2em;
  height: 0.2em;
  border: 0.1em solid currentColor;
  border-left: 0;
  border-bottom: 0;
  box-sizing: content-box;
  transform: translateX(0.14142em) rotate(45deg);
  transform-origin: top right;
}
.date {
  font-size: 0.9em;
  color: #888;
  text-align: right;
  margin-bottom: 8px;
}
.tagGroup {
  margin-bottom: 2em;
}
.link {
  color: #198cff;
  text-decoration: none;
  font-size: 0.8em;
  font-weight: bold;
  margin-bottom: 5em;
}

.link:hover {
  text-decoration: underline;
}

.title {
  font-size: 1.8em;
  text-align: center;
  font-weight: bold;
  margin: 2em;
}

.articleContents {
  width: 100%;
  max-width: 800px;
  padding: 1em;
}
.article {
  font-size: 1.1em;
  line-height: 2em;
  font-family: "Noto Sans JP", sans-serif;
  color: #000000;
  margin-bottom: 5em;
}

.article p:empty {
  display: block;
  height: 1em; /* 改行の高さを設定 */
  margin-top: 1em; /* 上部に余白を追加 */
  margin-bottom: 1em; /* 下部に余白を追加 */
  visibility: hidden; /* 空の段落を非表示にして余白だけ反映 */
}
/* h1からh5までのスタイル */
.article h1,
.article h2,
.article h3,
.article h4,
.article h5 {
  font-weight: bold;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

.article h1 {
  font-size: 1.75em;
}
.article h2 {
  font-size: 1.5em;
}
.article h3 {
  font-size: 1.25em;
}
.article h4 {
  font-size: 0.875em;
}
.article h5 {
  font-size: 0.75em;
}
/*
.article p {
  font-size: 16px;
  margin-top: 8px;
  margin-bottom: 10px;
  line-height: 30px;
}

/* 箇条書きリスト（ul） */
.article ul {
  list-style-type: disc; /* 黒丸 */
  padding-left: 20px;
  padding: 0 0 0 16px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.article ul li {
  font-size: 16px;
  margin-bottom: 3px;
}

/* 番号付きリスト（ol） */
.article ol {
  list-style-type: decimal; /* 1. 2. 形式 */
  padding-left: 20px;
  padding: 0 0 0 16px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.article ol li {
  font-size: 16px;
  margin-bottom: 3px;
}
.article blockquote {
  font-size: 14px;
  color: #555;
  font-style: italic;
  border-left: 4px solid #c6e0ff; /* 左側に青いライン */
  padding: 8px 16px;
  margin: 12px 0;
  background: #f8f9fa; /* 薄いグレーの背景 */
}

.article blockquote p {
  margin: 0;
}

.article table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  font-size: 16px;
  table-layout: auto; /* 自動調整 */
  margin-top: 40px;
  margin-bottom: 40px;
}

.article th,
.article td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
  min-width: 100px; /* 最小幅を確保 */
  max-width: 250px; /* 最大幅を設定（超えたら折り返し） */
  height: 50px; /* 高さ固定 */
  word-wrap: break-word; /* 長い単語を折り返し */
  overflow-wrap: break-word; /* 英単語なども折り返し */
  white-space: normal; /* テキストを折り返し可能に */
}

.article th {
  background-color: #f8f9fa; /* ヘッダーの背景色 */
  font-weight: bold;
}

/* Callout */
.article p:has(span[class="callout"]) {
  padding: 30px;
  border-left-style: solid;
  background-color: #ececec;
  border-radius: 4px;
  margin: 1rem 0;
  display: block;
  color: #000000;
}

.article code:not([class]) {
  line-height: normal;
  background: rgb(228, 229, 236);
  color: #1728be;
  border-radius: 4px;
  font-size: 0.9em;
  font-weight: bold;
  padding: 0.2em 0.4em;
}

.article pre {
  background-color: #1e1e1e;
  color: #d9d9d9;
  padding: 1em;
  margin-top: 2%;
  margin-bottom: 2%;
  border-radius: 8px;
  overflow-x: auto;
  position: relative;
}
.article pre code {
  font-size: 0.75em;
  font-weight: bold;
  font-family: "Fira Code";
  line-height: 1em; /* なぜか少ししか行間がつまらない */
}

/* 言語ラベル */
.article div[data-filename="callout"] pre code::before {
  font-size: 0.75rem;
  font-weight: bold;
  color: #ffffff;
  background: #4a4a4a;
  padding: 2px 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
}

.article hr {
  margin-top: 3%;
  margin-bottom: 3%;
}

.article a {
  color: #198cff;
  text-decoration: none;
}

.article a:hover {
  text-decoration: underline;
}

.article figure {
  margin: 1em;
}
