@use "variables";

.article {
  font-size: variables.$font-size-base;
  line-height: 1.5em;
  font-family: "Noto Sans JP", sans-serif;
  color: #000000;
  overflow-wrap: break-word;

  /* 空の<p>タグに改行を適用 */
  p:empty {
    display: block;
    height: 1em;
    margin: 1em 0;
    min-height: 1em;
  }

  /* 空白のみの<p>タグにも対応 */
  p:blank {
    display: block;
    height: 1em;
    margin: 1em 0;
    min-height: 1em;
  }

  /* 見出し */
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: bold;
    margin-top: 1.25rem;
    margin-bottom: 0.5rem;
  }

  h1 {
    @include variables.h1;
  }
  h2 {
    @include variables.h2;
  }
  h3 {
    @include variables.h3;
  }
  h4 {
    @include variables.h4;
  }
  h5 {
    @include variables.h5;
  }

  ul,
  ol {
    padding: 0 0 0 1rem;
    margin: 1.5rem 0;
  }

  ul {
    list-style-type: variables.$list-style-type-ul;
  }
  ol {
    list-style-type: variables.$list-style-type-ol;
  }

  /* 引用 */
  blockquote {
    color: #555;
    font-style: italic;
    border-left: 4px solid #868ab1;
    padding: 8px 16px;
    margin: 12px 0;
    background: #f3f4f9;
    line-height: 20px;
  }

  /* Callout */
  p:has(span[class="callout"]) {
    background-color: #f6ffe6;
    padding: 30px;
    margin: 1.25em 0;
    border-radius: 5px;
    border: 1px solid #c2ea7d;
  }

  /* 区切り線 */
  hr {
    margin: 20px 0;
  }

  /* Links */
  a {
    color: #1728be;

    &:hover {
      text-decoration: underline;
    }
  }

  /* Figure */
  figure {
    margin: 1.25em 0;
    img {
      border-radius: 5px;
    }
  }

  /* ================================
     Tables
  ================================ */
  table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    font-size: 16px;
    table-layout: auto;
    margin: 40px 0;

    th,
    td {
      border: 1px solid #ddd;
      padding: 10px;
      text-align: left;
      min-width: 100px;
      max-width: 250px;
      height: 50px;
      word-wrap: break-word;
      overflow-wrap: break-word;
      white-space: normal;
    }

    th {
      background-color: #f8f9fa;
      font-weight: bold;
    }
  }

  /* ================================
          Inline 
      ================================ */
  p code {
    line-height: normal;
    background: rgb(228, 229, 236);
    color: #1728be;
    border-radius: 4px;
    font-size: 0.9em;
    font-weight: bold;
    padding: 0.2em 0.4em;
  }

  /* ================================
     Code blocks
  ================================ */
  pre {
    background-color: #1e1e1e;
    color: #d9d9d9;
    padding: 1em;
    margin: 30px 5px;
    border-radius: 8px;
    overflow-x: auto;
    position: relative;

    code {
      font-size: 0.75em;
      font-weight: bold;
      font-family: "Fira Code";
      line-height: 1em;
    }
  }
}
