.tagMainRoot {
  width: 80%;
  max-width: 1300px;
  margin: 20px auto;
}
.header {
  display: flex;
  justify-content: space-between;

  .path {
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-size: 0.8em;

    .pathLink {
      display: flex;
      align-items: center;
      gap: 0.5em;
      color: #555;
      text-decoration: none;
    }

    .separator {
      color: #888;
    }
  }
  .tag {
    text-align: right;
    margin: 70px 0 20px 0;
  }
}

.pathLink:hover {
  text-decoration: underline;
}

.categorizedBlogList {
}
