.tagMainRoot {
  width: 80%;
  max-width: 1000px;
  margin: 20px auto;
}
.tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px; /* タグ間の余白 */
  justify-content: flex-end; /* 右寄せ */
}

.button {
  text-align: right;
}

.path {
  display: flex;
}
.treeText {
  font-size: 0.8em;
  margin-right: 1em;
}

.home {
  display: flex;
}

.homeText {
  margin: 0 0 0 10px;
  font-size: 0.8em;
  margin-right: 1em;
}
