.tocRoot {
  background-color: rgb(241, 242, 245);
  border-radius: 10px;
  padding: 1em;
  width: 350px;
  position: sticky;
  top: 20px;
  min-height: 600px;

  .list {
    margin-left: 3px;
  }
  /* 目次のテキストは最大100文字 */
  .text {
    font-size: 13px;
    margin-bottom: 2px;
    line-height: 2.5em;
    width: 100%;
    cursor: pointer;
    position: relative;
    color: rgb(97, 105, 127);
    overflow-wrap: break-word;

    display: -webkit-box; /* 必須 */
    -webkit-box-orient: vertical; /* 必須 */
    -webkit-line-clamp: 2; /* 表示したい行数 */
    overflow: hidden; /* はみ出しを隠す */
    text-overflow: ellipsis; /* 末尾を ... に（主に保険） */
    max-height: calc(2.5em * 2); /* line-height に合わせる */
  }

  /* ホバー時にグラデーションを消す */
  .text:hover {
    color: rgb(76, 79, 233);
  }
}
