.TocRoot {
  .group {
    background-color: rgb(241, 242, 245);
    border-radius: 10px;
    padding: 1em;
    margin-top: 1em;
    width: 250px;
    position: sticky;
    top: 20px;
  }
  .header {
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 1em;
  }

  .text {
    font-size: 0.9em;
    line-height: 3em;
    white-space: nowrap; /* 折り返さない */
    overflow: hidden; /* はみ出し非表示 */
    text-overflow: ellipsis; /* 省略記号 ... */
    cursor: pointer;
  }

  /* ホバー時に全文をスクロールできる */
  .text:hover {
    text-overflow: clip; /* ... を消す */
    overflow-x: auto; /* 横スクロールを許可 */
  }
}

.text:hover {
  color: rgb(76, 79, 233);
}
