// 主に記事内のスタイルの定数を定義する
$font-size-xx-large: 28px;
$font-size-x-large: 23px;
$font-size-large: 18px;
$font-size-base: 14px;
$font-size-small: 12px;
$font-size-x-small: 10px;
$font-weight-normal: normal;
$font-weight-bold: bold;
