$font-size-xx-large: 23px;
$font-size-x-large: 20px;
$font-size-large: 16px;
$font-size-base: 14px;
$font-size-small: 12px;
$font-size-x-small: 10px;

$line-height-xx-large: 38px;
$line-height-x-large: 25px;
$line-height-large: 18px;
$line-height-base: 14px;
$line-height-small: 12px;
$line-height-x-small: 10px;

$list-style-type-ul: disc;
$list-style-type-ol: decimal;

$margin-xx-large: 20px;
$margin-x-large: 15px;
$margin-large: 13px;

@mixin h1 {
  font-size: $font-size-xx-large;
  line-height: $line-height-xx-large;
  margin: $margin-xx-large 0;
}

@mixin h2 {
  font-size: $font-size-x-large;
  line-height: $line-height-x-large;
  margin: $margin-x-large 0;
}

@mixin h3 {
  font-size: $font-size-large;
  line-height: $line-height-large;
  margin: $margin-large 0;
}

@mixin h4 {
  font-size: $font-size-small;
  line-height: $line-height-small;
}
@mixin h5 {
  font-size: $font-size-x-small;
  line-height: $line-height-x-small;
}
