@use "variables";

.articlePageMainRoot {
  margin: 0 auto;
  padding: 2em;
  max-width: 1200px;

  .detail {
    max-width: 1000px;
    margin-bottom: 1em;
    align-items: center;

    .tagGroup {
      margin-bottom: 2em;
      display: flex;

      .date {
        /* TODO:直す */
      }
    }

    .title {
      font-size: 1.4em;
      text-align: center;
      font-weight: bold;
      margin: 2em;
    }
  }

  .container {
    display: flex;
    justify-content: center;
    gap: 1em;
    // margin: 100px auto 0;
    max-width: 1250px;

    .contents {
      width: 100%;
      max-width: 800px;

      .backLink {
        color: #485b6e;
        text-decoration: none;
        font-size: 0.8em;
        font-weight: bold;
        margin-top: 5em;
        margin-bottom: 15em;
      }

      .backLink:hover {
        text-decoration: underline;
      }

      .pageNav {
        margin: 125px 0;
      }
    }
    .toc {
      display: none;
      width: 250px;
    }

    @media (min-width: 1100px) {
      .toc {
        display: block;
        position: sticky;
        top: 2em;
        align-self: flex-start;
        height: fit-content;
      }
    }
  }
}
.article {
  border-radius: 10px;
  padding: 10px 20px 100px;
  background-color: #fbfbfb;
}

.article p:empty {
  display: block;
  margin-top: 1em; /* 上部に余白を追加 */
  margin-bottom: 1em; /* 下部に余白を追加 */
  visibility: hidden; /* 空の段落を非表示にして余白だけ反映 */
}
/* h1からh5までのスタイル */
.article {
  font-size: variables.$font-size-base;
  line-height: 1.5em;
  font-family: "Noto Sans JP", sans-serif;
  color: #000000;
  overflow-wrap: break-word;

  /* margin-bottom: 5em; */

  /* ================================
     Headings
  ================================ */
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: bold;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
  }

  h1 {
    font-size: variables.$font-size-xx-large;
  }
  h2 {
    font-size: variables.$font-size-x-large;
  }
  h3 {
    font-size: variables.$font-size-large;
  }
  h4 {
    font-size: variables.$font-size-small;
  }
  h5 {
    font-size: variables.$font-size-x-small;
  }
  /* ================================
     Blockquote
  ================================ */
  blockquote {
    font-size: 14px;
    color: #555;
    font-style: italic;
    border-left: 4px solid #c6e0ff;
    padding: 8px 16px;
    margin: 12px 0;
    background: #f8f9fa;

    p {
      margin: 0;
    }
  }

  /* ================================
     Horizontal rule
  ================================ */
  hr {
    margin: 3% 0;
  }

  /* ================================
     Links
  ================================ */
  a {
    color: #198cff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  /* ================================
     Figure
  ================================ */
  figure {
    margin: 1em;
  }

  /* ================================
     Callout
  ================================ */
  p:has(span[class="callout"]) {
    padding: 30px;
    border-left-style: solid;
    background-color: #ececec;
    border-radius: 4px;
    margin: 1rem 0;
    display: block;
    color: #000000;
  }

  /* ================================
     Lists
  ================================ */
  ul,
  ol {
    padding: 0 0 0 16px;
    margin: 24px 0;

    li {
      font-size: 16px;
      margin-bottom: 3px;
    }
  }

  ul {
    list-style-type: disc;
  }
  ol {
    list-style-type: decimal;
  }

  /* ================================
     Tables
  ================================ */
  table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    font-size: 16px;
    table-layout: auto;
    margin: 40px 0;

    th,
    td {
      border: 1px solid #ddd;
      padding: 10px;
      text-align: left;
      min-width: 100px;
      max-width: 250px;
      height: 50px;
      word-wrap: break-word;
      overflow-wrap: break-word;
      white-space: normal;
    }

    th {
      background-color: #f8f9fa;
      font-weight: bold;
    }
  }

  /* ================================
          Inline 
      ================================ */
  p code {
    line-height: normal;
    background: rgb(228, 229, 236);
    color: #1728be;
    border-radius: 4px;
    font-size: 0.9em;
    font-weight: bold;
    padding: 0.2em 0.4em;
  }

  /* ================================
     Code blocks
  ================================ */
  pre {
    background-color: #1e1e1e;
    color: #d9d9d9;
    padding: 1em;
    margin: 2% 0;
    border-radius: 8px;
    overflow-x: auto;
    position: relative;

    code {
      font-size: 0.75em;
      font-weight: bold;
      font-family: "Fira Code";
      line-height: 1em;
    }
  }

  /* 言語ラベル */
  div[data-filename="callout"] pre code::before {
    font-size: 0.75rem;
    font-weight: bold;
    color: #ffffff;
    background: #4a4a4a;
    padding: 2px 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    position: absolute;
    top: 0;
    left: 0;
  }
}
