@use "variables";

.articlePageMainRoot {
  margin: 0 auto;
  max-width: 1200px;

  .detail {
    max-width: 1200px;
    align-items: center;
    padding: 30px;

    .tagGroup {
      margin-bottom: 2em;
      display: flex;
      justify-content: space-between;
    }

    .title {
      font-size: 1.4em;
      text-align: center;
      font-weight: bold;
      margin: 30px 0 70px 0;
    }
  }

  .container {
    display: flex;
    justify-content: center;
    gap: 1em;
    max-width: 1250px;

    .left {
      width: 100%;
      max-width: 800px;

      .pageNav {
        margin: 75px 0 300px 0;
      }

      .backLink {
        color: #485b6e;
        text-decoration: none;
        font-size: 0.8em;
        font-weight: bold;
        margin: 200px 0 300px;
      }

      .backLink:hover {
        text-decoration: underline;
      }
    }
    .right {
      display: block;
      position: sticky;
      top: 15px;
      align-self: flex-start;
      height: fit-content;
    }

    @media (max-width: 1200px) {
      .right {
        display: none;
        width: 250px;
      }
    }
  }
}

.article {
  border-radius: 10px;
  background-color: #fbfbfb;
  padding: 20px 20px 40px 20px;
  font-size: variables.$font-size-base;
  line-height: 1.5em;
  font-family: "Noto Sans JP", sans-serif;
  color: #000000;
  overflow-wrap: break-word;

  /* 空の<p>タグに改行を適用 */
  p:empty {
    display: block;
    height: 1em;
    margin: 1em 0;
    min-height: 1em;
  }

  /* 空白のみの<p>タグにも対応 */
  p:blank {
    display: block;
    height: 1em;
    margin: 1em 0;
    min-height: 1em;
  }

  /* margin-bottom: 5em; */

  /* 見出し */
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 0.5em;
  }

  h1 {
    @include variables.h1;
  }
  h2 {
    @include variables.h2;
  }
  h3 {
    @include variables.h3;
  }
  h4 {
    @include variables.h4;
  }
  h5 {
    @include variables.h5;
  }

  ul,
  ol {
    padding: 0 0 0 16px;
    margin: 24px 0;
  }

  ul {
    list-style-type: variables.$list-style-type-ul;
  }
  ol {
    list-style-type: variables.$list-style-type-ol;
  }

  /* 引用 */
  blockquote {
    color: #555;
    font-style: italic;
    border-left: 4px solid #868ab1;
    padding: 8px 16px;
    margin: 12px 0;
    background: #f3f4f9;
    line-height: 20px;
  }

  /* Callout */
  p:has(span[class="callout"]) {
    background-color: #f6ffe6;
    padding: 30px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #c2ea7d;
  }

  /* 区切り線 */
  hr {
    margin: 20px 0;
  }

  /* Links */
  a {
    color: #1728be;

    &:hover {
      text-decoration: underline;
    }
  }

  /* ================================
     Figure
  ================================ */
  figure {
    margin: 1em;
  }

  /* ================================
     Tables
  ================================ */
  table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    font-size: 16px;
    table-layout: auto;
    margin: 40px 0;

    th,
    td {
      border: 1px solid #ddd;
      padding: 10px;
      text-align: left;
      min-width: 100px;
      max-width: 250px;
      height: 50px;
      word-wrap: break-word;
      overflow-wrap: break-word;
      white-space: normal;
    }

    th {
      background-color: #f8f9fa;
      font-weight: bold;
    }
  }

  /* ================================
          Inline 
      ================================ */
  p code {
    line-height: normal;
    background: rgb(228, 229, 236);
    color: #1728be;
    border-radius: 4px;
    font-size: 0.9em;
    font-weight: bold;
    padding: 0.2em 0.4em;
  }

  /* ================================
     Code blocks
  ================================ */
  pre {
    background-color: #1e1e1e;
    color: #d9d9d9;
    padding: 1em;
    margin: 30px 5px;
    border-radius: 8px;
    overflow-x: auto;
    position: relative;

    code {
      font-size: 0.75em;
      font-weight: bold;
      font-family: "Fira Code";
      line-height: 1em;
    }
  }

  /* 言語ラベル */
  div[data-filename="callout"] pre code::before {
    font-size: 0.75rem;
    font-weight: bold;
    color: #ffffff;
    background: #4a4a4a;
    padding: 2px 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    position: absolute;
    top: 0;
    left: 0;
  }
}
